.container00{
    background-image: url(./images/fundo/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.container01{
  margin-top: 20vh;
}

.container02{
    gap: 60px;
}


.title{
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.paragraph{
    color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 12px;
    width: 100%;
    text-align: justify;
}

.pag{
  background-color: black;
}

.koee{
  display: flex;
  align-items: center;
  justify-content: center;
}



.container02{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title3{
  margin-top: 5rem;
}

.cards{
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

.title-sinopse{
  font-size: 15px;
}

.cards2{
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
}

.vamo{
  color: white;
  font-size: 12px;
  display: grid;
  align-items: center;
}

.image{
  height: 55vh;
  margin-top: 2rem;
}

.video{
  border: 10px solid white;
  border-radius: 20px;
}



@media(min-width: 768px){
  .gif{
    max-height: 90vh; 
    margin-top: 3rem;
  }

  .paragraph{
    font-size: 2.3vw;

  }
  /* .video{
    width: 50vw;
  } */
}

@media(min-width: 1024px){
  .gif{
    max-height: 90vh; 
    margin-top: 3rem;
  }

  .paragraph{
    font-size: 20px;
    width: 40vw;
  }
  /* .video{
    width: 40vw;
  } */

  .botao{
    width: 40vw;
  }

  .cards{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .vamo{
    font-size: 16px;
  }

  .video{
    width: 800px;
    height: 475px;
  }
  
}

