.testando{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pag{
  height: 100vh;
}

.ok{
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.mdss{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}